{%extends 'base.html'%}

{%block content%}
    <main>
        <div>
            <h1>Delete {{list_name}}</h1>
            <h2>Are you sure?</h2>
            <form method="post">
                {% csrf_token %}
                {{todo_form.as_p}}
                <button>Delete</button>
            </form>
        </div>
    </main>
</body>
{%endblock content%}