{%extends 'base.html'%}

{%block content%}
    <main>
        <div>
            <h1>{{todo_list.name}}</h1>
            {% if user.is_authenticated %}
            <p>
                <a href="{% url 'todo_list_update' todo_list.id%}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_list.id%}">Delete</a>
            </p>
            <p>
                <a href="{% url 'user_logout'%}">Logout</a>
            </p>
            {%else%}
            <p>
                <a href = "{% url 'user_login' %}">Log In</a>
            </p>
            <p>
                <a href= "{% url 'signup' %}">Sign up</a>
            </p>
            {%endif%}
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Status</th>
                </tr>
                {% for item in todo_list.items.all %}
                <tr class="{%cycle 'odd' 'even'%}">
                    <td><a href="{% url 'todo_item_update' item.id%}">{{item.task}}</a></td>
                    <td><a href="{% url 'todo_item_update' item.id%}">{{item.due_date}}</a></td>
                    {%if item.is_completed%}
                    <td><a href="{% url 'todo_item_update' item.id%}">Complete</a></td>
                    {%else%}
                    <td><a href="{% url 'todo_item_update' item.id%}">Incomplete</a></td>
                    {%endif%}
                </tr>
                {% endfor %}
            </table>
        </div>

    </main>
{%endblock content%}