{%extends 'base.html'%}

{%block content%}
<main>
    <div>
        <h1>My Lists</h1>
        {% if user.is_authenticated %}
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
            <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
        <p>
            <a href="{% url 'user_logout'%}">Logout</a>
        </p>
        {%else%}
        <p>
            <a href="{% url 'user_login' %}">Log In</a>
        </p>
        <p>
            <a href="{% url 'signup' %}">Sign up</a>
        </p>
        {%endif%}
        <table>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
            {%for list in todo_list_list%}
            <tr>
                <td><a href="{% url 'todo_list_detail' list.id%}">{{list.name}}</a></td>
                <td>{{list.items.count}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</main>
{%endblock content%}