{% extends 'base.html' %}

{%block content%}
  <main>
    <h1>Log in!</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Submit</button>
    </form>
  </main>
{% endblock content%}
