{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static "css/todos.css" %}">
</head>
<body>
    <header>
        <nav>
            {%if page not in "lists"%}
            <a href="{%url 'todo_list_list'%}">My Lists</a>
            {%endif%}
        </nav>
    </header>
    {%block content%}
    {%endblock content%}
</body>
</html>