tr.even {
    background-color: lightslategray;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;

}

a {
    text-decoration: none;
    color: blue
}

th {
    padding: .75em;
    font-weight: bold;
}

td {

    color: blue;
    padding: .75em;
}